.Header {
  display: flex;
  font-size: large;
  justify-content: center;
}

.Controllers {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.File, .LevelFilter, .MessageFilter,.VUFilter, .ITERFilter, .Clear{
  color: var(--foreground);
  background-color: var(--background);
  font-family: inherit;
}

.File {
  flex: 1;
  max-width: 16em;
}

.File::file-selector-button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 0.5em;
  padding: 0.3em;
}

.LevelFilter{
  border: none;
  font-weight: bold;
}

.MessageFilter{
  flex: 3;
  font-weight: bold;
  padding: 0.4em 0.6em;
  border: solid #ededed;
  border-width: 0 0 1px 0;
}

.VUFilter, .ITERFilter {
  border: none;
  font-weight: bold;
  padding: 0.4em 0.6em;
  text-align: center;
  width: 4em;
  border: solid #ededed;
  border-width: 0 0 1px 0;
}

.Clear {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.LogsHeader {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.Logs {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.Row {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  flex-wrap: nowrap;
}

.Column {
  display: flex;
  padding: 0.2em 0.2em;
}

.Time {
  flex: 3;
  max-width: 16em;
  justify-content: center;
}

.Level {
  flex: 2;
  min-width: 4em;
  max-width: 4em;
  justify-content: center;
  font-weight: bold;
}

.Message {
  flex: 8;
}

.VU, .ITER {
  flex: 1;
  min-width: 3em;
  max-width: 3em;
  justify-content: center;
}

.DUBUG {
  color: whitesmoke;
}
.INFO {
  color: #60A5FA;
}
.ERROR {
  color: #FF4C4C;
}
.WARN {
  color: #FFD93D;
}

.Count {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-family: 'Courier New', Courier, monospace;
  background: var(--background);
  padding: .5em;
  border-radius: 1em;
  pointer-events: none;
  user-select: none;
}

.VUFilter::-webkit-outer-spin-button,
.VUFilter::-webkit-inner-spin-button,
.ITERFilter::-webkit-outer-spin-button,
.ITERFilter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
.VUFilter, .ITERFilter {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (width < 50em) {
  .Controllers {
    flex-wrap: wrap;
  }

  .VU, .ITER {
    display: none;
  }
}

@media (width < 35em) {
  .Count {
    display: none;
  }
}
